!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Simplebase Admin
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Simplebase Administration')
		meta(name='author', content='')

		link(href='/admin/stylesheets/bootstrap.css', rel='stylesheet')
		link(href='/admin/stylesheets/bootstrap-responsive.css', rel='stylesheet')
		link(href='/admin/stylesheets/style.css', rel='stylesheet')

		link(rel='shortcut icon', href='/admin/images/favicon.ico')
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/admin/images/apple-touch-icon-144-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/admin/images/apple-touch-icon-114-precomposed.png')
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/admin/images/apple-touch-icon-72-precomposed.png')
		link(rel='apple-touch-icon-precomposed', href='/admin/images/apple-touch-icon-57-precomposed.png')

  body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href='#') Simple Base Admin
					.nav-collapse
						ul.nav
							li.active
								a(href='#') User
							li
								a(href='#about') Models
		.container

		script(src='/admin/javascripts/jquery.js')
		script(src='/admin/javascripts/bootstrap.js')
